body{
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    height: 50px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header::after{
    clear: both;
}
.name{
    width: 1000px;
    margin: 0 auto;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    float: left;
    padding: 0px;
    margin: 0px;
    height: 50px;
    line-height: 200%;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: right;
    line-height: 20px;
    padding-top: 15px;
}

li{
    display: inline-block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #cccccc;
    padding-right: 5px;
}
.contact{
    border-right: none;
}

.card{
    background: #ffffff;
    border: 3px solid #dddddd;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    min-height: 350px;
    margin-bottom: 100px;
}

img{
    position: relative;
    height: 250px;
    width: 250px;
    padding-right: 10px;
    float: left;
    clear: both;
}

h2{
    clear: both;
    color: #4aaaa5;
    border-bottom: 5px solid #dddddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.indexp{
    margin-left: 10px;
}

.pics{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #666666;
    position: relative;
}

.pic1 img{
    height: 250px;
    width: 250px;
    padding:25px;
    
}

.pic1text{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 175px;
    left: 25px;
    width: 250px;
    height: 50px;
}

.pic2 img{
    height: 250px;
    width: 250px;
    padding:25px;
    padding-right: 75px;
    padding-left: 75px;
}

.pic2text{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 175px;
    left: 375px;
    width: 250px;
    height: 50px;
}

.pic3 img{
    height: 250px;
    width: 250px;
    padding:25px;
}

.pic3text{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 475px;
    left: 25px;
    width: 250px;
    height: 50px;
}

.pic4 img{
    height: 250px;
    width: 250px;
    padding:25px;
    padding-right: 75px;
    padding-left: 75px;
}

.pic4text{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 475px;
    left: 375px;
    width: 250px;
    height: 50px;
}

.pic5 img{
    height: 250px;
    width: 250px;
    padding:25px;
}

.pic5text{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 800px;
    left: 25px;
    width: 250px;
    height: 50px;
}

.footer{
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 300%;
}